.link {
  text-decoration: none;
  color: black;
}

.link:visited {
  text-decoration: none;
}

/* Navbar */

.title {
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  font-weight: 600;
}

/* Search */

.record-card {
  list-style-type: none;
  border: 2px solid black;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-bottom: 20px;
}

.card-text {
  margin-left: 20px;
}

.show-btn {
  margin-left: 20px;
}

/* Address Page */

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
